body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}


.video-wrapper--scrollable::-webkit-scrollbar .sidebar-subscriptions--wrapperScrollable::-webkit-scrollbar {
    width: 6px;
}

.video-wrapper--scrollable::-webkit-scrollbar-track .sidebar-subscriptions--wrapperScrollable::-webkit-scrollbar-track {
    border-radius: 4px;
}

.video-wrapper--scrollable::-webkit-scrollbar-thumb .sidebar-subscriptions--wrapperScrollable::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 40px;
}

html,
.video-wrapper--scrollable,
.sidebar-subscriptions--wrapper {
    scroll-snap-type: y mandatory;
}

.scroll-container {
    position: fixed;
    left: 0;
    right: 0;
    will-change: transform;
    z-index: -3;

}

.item {
    overflow: visible;
    stroke: #2d2d2d;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.feed-item--description {
    display: -webkit-box;
    hyphens: manual;
    text-align: left;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.feed-item--title {
    display: -webkit-box;
    hyphens: manual;
    text-align: left;
    min-height: max-content;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}